@import "tailwindcss";

:root {

}

.menu-mobile{
    position: absolute;
    top: 95px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    border-bottom: 1px solid #bec0c4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
}