@import "tailwindcss";
@import "flowbite/src/themes/default";

@layer base {
  button, a {
    cursor: pointer !important;
  }
}

:root {
    --gray: rgb(153,153,153);
    --red: rgb(206,42,40);
}

.bg-modal{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shadow{
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.body-modal{
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.body-modal img{
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 8px;
    display: block;
}

.close-modal-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}
.close-modal-btn button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

.bg-logo{
    background-color: var(--red);
    padding:12px 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 15px;
}
.bg-logo img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.bg-red{
    background-color: var(--red);
}

.menu-mobile{
    position: absolute;
    top: 95px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    border-bottom: 1px solid #bec0c4;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 8px;
    vertical-align: middle;
}
.modal-backdrop{
    background-color:red;
    width:100vw;
    height:100vh;
    z-index:999;
    position:absolute;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
}
.bg-modal {
    background-color: rgba(0, 0, 0, 0.7);
}